@charset "utf-8";

#navigation h2 { cursor: pointer; }

/*
***************** image section
*/

main { margin-top: 70px; }

.main-overlay {
	background-image: url(./assets/main-img.jpg);
	background-size: cover;
	max-height: 650px;
	padding-bottom: 50px;
}

.overlay-wrap { padding: 5% 0 3% 0; }

.overlay-block {
	padding: 5% 3%;
	background: rgba(136,136,136,0.8);
}

.circle-wrapper {
	margin-top: 5%;
	padding: 0 4%;
}

.fa.fa-angle-right { font-size: 19pt; }

.circle-base {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.type-one { background: #FF7F27; }

.type-two { background: #7ECB5A; }

.type-three { background: #0080C0; }

.circle-base img { transform: scale(0.6); }

.arrow {
	width: 10%;
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}

.arrow-wrapper {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #FFFFFF;
}

.arrow-wrapper .glyphicon { top: 0; }

.text-wrapper { margin-top: 2%; }

/* #back-to-top { */
/* 	position: fixed; */
/* 	left: auto; */
/* 	right: 20px; */
/* 	top: auto; */
/* 	bottom: 20px; */
/* 	outline: none; */
/* 	overflow: hidden; */
/* 	color: #FFFFFF; */
/* 	text-align: center; */
/* 	background-color: #5B6F7B; */
/* 	height: 40px; */
/* 	width: 40px; */
/* 	line-height: 40px; */
/* 	font-size: 14px; */
/* 	border-radius: 2px; */
/* 	cursor: pointer; */
/* 	transition: all 0.3s linear; */
/* 	z-index: 999999; */
/* 	opacity: 0; */
/* } */

/* #back-to-top.show { opacity: 1; } */

/* #back-to-top:hover { background-color: #AD0000; } */


/*
***************** media 1199
*/

@media screen and (max-width: 1199px) {
	
}


/*
***************** media 799
*/

@media screen and (max-width: 799px) {
	.arrow { width: 8%; }
	.type-one-text h4 { margin-left: -15%; }
	h4 { font-size: 1.25rem; }
}

/*
***************** media 650
*/

@media screen and (max-width: 650px) {
	.circle-base {
		width: 60px;
		height: 60px;
	}
}


